body {
    font-size: 10px;
    font-family: Roboto, sans-serif;
    place-items: center;
}
.c-checkbox {
    display: none;
}
.c-checkbox:checked + .c-formContainer .c-form {
    width: 25.5em;
}
.c-checkbox:checked + .c-formContainer .c-form__toggle {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
}
.c-checkbox:checked + .c-formContainer .c-form__input, .c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
    transition: 0.2s 0.1s;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
    content: 'Thank You! \1F60A';
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
    pointer-events: none;
    cursor: default;
}
.c-formContainer, .c-form, .c-form__toggle {
    width: 20em;
    height: 4em;
}
.c-formContainer {
    position: relative;
    font-weight: 700;
}
.c-form, .c-form__toggle {
    position: absolute;
    border-radius: 4em;
    background-color: #00D363;
    transition: 0.2s;
}
.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}
.c-form__toggle {
    color: white;
    top: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-form__toggle::before {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75em;
    content: attr(data-title);
}
.c-form__input, .c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}
.c-form__input, .c-form__buttonLabel {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}
.c-form__input {
    color: #FFD700;
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
}
.c-form__input::placeholder {
    color: currentColor;
}
.c-form__input:required:valid {
    color: #FFD700;
}
.c-form__input:required:valid + .c-form__buttonLabel {
    color: #fff;
}
.c-form__input:required:valid + .c-form__buttonLabel::before {
    pointer-events: initial;
}
.c-form__buttonLabel {
    color: #FFD700;
    height: 100%;
    width: auto;
}
.c-form__buttonLabel::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
}
.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: rgb(23, 110, 250);
}



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 0.5px solid green;
    color: green;
    background-color: white;
    padding: 3px 17px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }