.onaoffswitch {
    position: relative; width: 80%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onaoffswitch-checkbox {
    display: none;
}
.onaoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 10px; padding: 0; line-height: 10px;
    border: 5% solid #EEEEEE; border-radius: 10px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onaoffswitch-label:before {
    content: "";
    display: block; width: 10%; margin: 0px;
    background: #04B344;
    position: absolute; top: 0; bottom: 0;
    width: 20%;
    border: 5% solid #00AB44; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onaoffswitch-checkbox:checked + .onaoffswitch-label {
    background-color: #03B026;
}
.onaoffswitch-checkbox:checked + .onaoffswitch-label, .onaoffswitch-checkbox:checked + .onaoffswitch-label:before {
   border-color: #03B026;
}
.onaoffswitch-checkbox:checked + .onaoffswitch-label:before {
    right: 0px; 
}







.onboffswitch {
    position: relative; width: 80%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onboffswitch-checkbox {
    display: none;
}
.onboffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 10px; padding: 0; line-height: 10px;
    border: 5% solid #EEEEEE; border-radius: 10px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onboffswitch-label:before {
    content: "";
    display: block; width: 10%; margin: 0px;
    background: #FFE100;
    position: absolute; top: 0; bottom: 0;
    width: 20%;
    border: 5% solid #EEEEEE; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onboffswitch-checkbox:checked + .onboffswitch-label {
    background-color: #F2CE00;
}
.onboffswitch-checkbox:checked + .onboffswitch-label, .onboffswitch-checkbox:checked + .onboffswitch-label:before {
   border-color: #F2CE00;
}
.onboffswitch-checkbox:checked + .onboffswitch-label:before {
    right: 0px; 
}




.onoffswitch {
    position: relative; width: 80%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 10px; padding: 0; line-height: 10px;
    border: 5% solid #EEEEEE; border-radius: 10px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 10%; margin: 0px;
    background: #FF0000;
    position: absolute; top: 0; bottom: 0;
    width: 20%;
    border: 5% solid #00AB44; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #F23800;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #F23800;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}