<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/style.css">
    
    

    <link rel="stylesheet" href="../static/css/button.css">
    
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>

    
    <div style="background-image: url(../static/index3/img/banner/bradcam.png);background-size: cover;
    background-position: center;
    padding: 40px 0 40px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;">
        <div class="container">
            
            <div class="row" >
                <div >
                    <h3 style="font-size: 50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: aliceblue;" align="center">My Profile</h3>
                </div>
                <br>
                <br>
                <div align="center">
                    
                    <input class="c-checkbox" type="checkbox" id="checkbox1">
                    <div class="c-formContainer" style="height: 4em;font-size: 1em;">
                    <form class="c-form" action="" style="height: 4em;font-size: 1em;">
                        <input class="c-form__input" placeholder="Choose a code" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
                        <label class="c-form__buttonLabel" for="checkbox1">
                        <button class="c-form__button" type="button">Generate</button>
                        </label>
                        <label class="c-form__toggle" for="checkbox1" data-title="Create New" style="height: 4em;font-size: 1em;"></label>
                    </form>
                    </div>
                </div>
                <br>
                <br>
                <div align="center">
                    
                    <input class="c-checkbox" type="checkbox" id="checkbox2">
                    <div class="c-formContainer" style="height: 4em;font-size: 1em;">
                    <form class="c-form" action="" style="height: 4em;font-size: 1em;">
                        <input class="c-form__input" placeholder="Input code" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
                        <label class="c-form__buttonLabel" for="checkbox2">
                        <button class="c-form__button" type="button">Load</button>
                        </label>
                        <label class="c-form__toggle" for="checkbox2" data-title="Edit Profile" style="height: 4em;font-size: 1em;"></label>
                    </form>
                    </div>
                </div>
                
                    


                

                
            </div>
            
        </div>
        
    </div>
    

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/index3/css/style.css">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../static/image/guide_profile.png" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <li class="name">Rebecca Sanders
                                <label class="label label-info">UX Designer</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                            
                        </ul>
                        
                        
                    </div>
                    
            		<nav class="side-menu">
        				<ul class="nav">
                            <li class="active"><a href="build_profile"><span class="fa fa-user"></span>CV</a></li>
                            <li><a href="video_profile"><span class="fa fa-th"></span>Video</a></li>
                            <li><a href="time_profile"><span class="fa fa-clock-o"></span>Week</a></li>
                            <li><a href="cal_profile"><span class="fa fa-credit-card"></span>Free</a></li>
                            <!--
        					<li><a href="#"><span class="fa fa-cog"></span> Preview</a></li>
        					<li><a href="#"><span class="fa fa-credit-card"></span> Who can access</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Private Contact</a></li>
                            --> 
        					
        				</ul>
        			</nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Profile ID <t></t><t></t><span class="pro-label label label-warning">3234-9870</span>
                        
                        
                     
                    </h2>
                    <!--
                    <div class="confirm-switch">
                        <input type="checkbox" id="confirm-switch" checked>
                        <label for="confirm-switch"></label>
                    </div>
                    -->
                    
                    <form class="form-horizontal">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <img class="img-rounded img-responsive" src="../static/image/guide_profile.png" alt="">
                                </figure>
                                
                                <div class="upload-btn-wrapper">
                                    <button class="btn">Upload a file</button>
                                    <input type="file" name="myfile" />
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Full Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" placeholder="Rebecca" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Address</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" placeholder="123 Tran Hung Dao, 1 District, HCMC">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Age</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" placeholder="18">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Gender</label>
                            
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" placeholder="Female">
                                </div>
                            </div>
        
                            
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Public Info</h3>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Working in</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value=""placeholder="List of region, city: Mekong, Ho Chi Minh, Cu Chi....">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Language</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value=""placeholder="English, Chinese,...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Biography</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value=""placeholder="XIN CHAO (Good Morning Vietnam) Let's call me Chau(Joe). I have been working as a Tour Guide, ...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label "style="color:  #00D363;">Email</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control" value=""placeholder="Rebecca@website.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Phone</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value=""placeholder="+84 375994743">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Linkedin</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="url" class="form-control" value=""placeholder="https://www.linkedin.com/in/lorem">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Upload CV</label>
                                <div class="upload-btn-wrapper" style="padding-left: 150px;">
                                    <button class="btn">Upload a file</button>
                                    <input type="file" name="myfile" />
                                  </div>
                            </div>
                            <div class="form-group">
                                
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Credentials</label>
                                <div class="upload-btn-wrapper" style="padding-left: 150px;" >
                                    <button class="btn">Upload a file</button>
                                    <input type="file" name="myfile" />
                                  </div>
                            </div>
                            
                        </fieldset>
                        
                        <hr>
                        
                        <fieldset class="fieldset" align="center" style="align-items: center;">
                            <div class="button-group-area mt-40" >
                                <input  class="genric-btn info circle" type="submit" value="Update Profile">
                            </div>
                        </fieldset>
                            
                        
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>