<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/calender.css">
    <link rel="stylesheet" href="../static/css/button.css">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
     
    <div style="background-image: url(../static/index3/img/banner/bradcam.png);background-size: cover;
    background-position: center;
    padding: 40px 0 40px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;">
        <div class="container">
            
            <div class="row" >
                <div >
                    <h3 style="font-size: 50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: aliceblue;" align="center">My Profile</h3>
                </div>

                <div id="calendar" style="transform: scaley(0.8);"></div>

                <div align="center">
                    
                    <input class="c-checkbox" type="checkbox" id="checkbox1">
                    <div class="c-formContainer" style="height: 4em;font-size: 1em;">
                    <form class="c-form" action="" style="height: 4em;font-size: 1em;">                        <label class="c-form__buttonLabel" for="checkbox1">
                        <button class="c-form__button" type="button">Morning</button>
                        <button class="c-form__button" type="button">Afternoon</button>
                        <button class="c-form__button" type="button">Evening</button>
                        </label>
                        <label class="c-form__toggle" for="checkbox1" data-title="I AM BUSY" style="height: 4em;font-size: 1em;"></label>
                    </form>
                    </div>
                </div>

                
            </div>
            
                


            

            
        </div>
        
    </div>
    
</div>


                
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="../static/js/calender.js"></script>
</body>
</html>