<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/style.css">
    
    

    <link rel="stylesheet" href="../static/css/button.css">
    
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>

    
    <div style="background-image: url(../static/index3/img/banner/bradcam.png);background-size: cover;
    background-position: center;
    padding: 40px 0 40px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    background-size: cover;">
        <div class="container">
            
            <div class="row" >
                <div >
                    <h3 style="font-size: 50px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: aliceblue;" align="center">My Profile</h3>
                </div>
                <br>
                <br>
                <div align="center">
                    
                    <input class="c-checkbox" type="checkbox" id="checkbox1">
                    <div class="c-formContainer" style="height: 4em;font-size: 1em;">
                    <form class="c-form" action="" style="height: 4em;font-size: 1em;" method="POST">
                        <input class="c-form__input" name = "ipinput1"placeholder="Choose a code" type="password" >
                        <label class="c-form__buttonLabel" for="checkbox1">
                        <input class="c-form__button" type="submit" value="Generate" name="idprofile"></input>
                        </label>
                        <label class="c-form__toggle" for="checkbox1" data-title="Create New" style="height: 4em;font-size: 1em;"></label>
                    </form>
                    </div>
                </div>
                <br>
                <br>
                <div align="center">
                    
                    <input class="c-checkbox" type="checkbox" id="checkbox2">
                    <div class="c-formContainer" style="height: 4em;font-size: 1em;">
                    <form class="c-form" action="" style="height: 4em;font-size: 1em;" method="POST">
                        <input class="c-form__input" name = "ipinput2"placeholder="Input your code" type="password" >
                        <label class="c-form__buttonLabel" for="checkbox2">
                        <input class="c-form__button" type="submit" value="Load" name="idprofile"></input>
                        </label>
                        <label class="c-form__toggle" for="checkbox2" data-title="Edit Profile" style="height: 4em;font-size: 1em;"></label>
                    </form>
                    </div>
                </div>
                
                    


                

                
            </div>
            
        </div>
        
    </div>
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Alert Status!</h4>
        <hr>
        <p class="mb-0">{{message}}</p>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/index3/css/style.css">
{% if sample_profile == False %}
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../static/image/guide_profile.png" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <li class="upload-btn-wrapper">
                                <button class="btn">Upload a file</button>
                                <input type="file" name="myfile" />
                            </li>
                            <li class="name">Rebecca Sanders
                                <label class="label label-info">UX Designer</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                            
                            
                        </ul>
                        
                        
                    </div>
                    
            		<nav class="side-menu">
        				<ul class="nav">
                            <li class="active"><a href="build_profile"><span class="fa fa-user"></span>CV</a></li>
                            <li><a href="job_profile"><span class="fa fa-th"></span>Job</a></li>
                            <li><a href="time_profile"><span class="fa fa-clock-o"></span>Week</a></li>
                            <li><a href="cal_profile"><span class="fa fa-credit-card"></span>Free</a></li>
                            <!--
        					<li><a href="#"><span class="fa fa-cog"></span> Preview</a></li>
        					<li><a href="#"><span class="fa fa-credit-card"></span> Who can access</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Private Contact</a></li>
                            --> 
        					
        				</ul>
        			</nav>
                </div>
                <div class="content-panel">
                    <h2 class="title">Profile ID <t></t><t></t><span class="pro-label label label-warning">{{guide.password}}</span>
                        
                        
                    </h2>
                    <!--
                    <div class="confirm-switch">
                        <input type="checkbox" id="confirm-switch" checked>
                        <label for="confirm-switch"></label>
                    </div>
                    -->
                    
                    <form class="form-horizontal" method="POST"></form>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Full Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.name}}" placeholder="Rebecca" name="name">
                                </div>
                            </div>
                    
                            <div class="form-group">
                                
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Address</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.address}}" placeholder="123 Tran Hung Dao, 1 District, HCMC" name="address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Age</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.age}}" placeholder="18" name="age">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Gender</label>
                            
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.gender}}" placeholder="Female" name="gender">
                                </div>
                            </div>
        
                            
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Public Info</h3>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Working in</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.location}}"placeholder="List of region, city: Mekong, Ho Chi Minh, Cu Chi...." name="location">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Language</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.language}}"placeholder="English, Chinese,..." name="language">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Activity Level</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.act_level}}"placeholder="Sightseeing, Food Serve, Historical, Exploration" name="act_level">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Experiment</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.exp}}"placeholder="Fresher,1 Year,..." name="exp">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label" style="color:  #00D363;">Biography</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.bio}}"placeholder="XIN CHAO (Good Morning Vietnam) Let's call me Chau(Joe). I have been working as a Tour Guide, ..." name="bio">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label "style="color:  #00D363;">Email</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control" value="{{guide.email}}"placeholder="Rebecca@website.com" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Phone</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.phone}}"placeholder="+84 375994743" name="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Linkedin</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="url" class="form-control" value="{{guide.linkin}}"placeholder="https://www.linkedin.com/in/lorem" name="linkin">
                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Upload CV</label>
                                <!--{% if guide.cvlink == "" %} -->
                                <div class="upload-btn-wrapper" style="padding-left: 150px;">
                                    <button class="btn">Upload PDF</button>
                                    <!--<span style="color: rgb(0, 110, 255); font-weight: 700;font-size: smaller;">Save to load file</span>-->
                                    <input type="file" name="cvlink" />
                                </div>
                                <!--
                                {% else %}
                                <iframe src="{{guide.cvlink}}" width="100%" height="500px">
                                </iframe>
                                {% endif %}
                                -->
                            </div>
                            

                            <div class="form-group">
                                
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Credentials</label>
                                <div class="upload-btn-wrapper" style="padding-left: 150px;" >
                                    <button class="btn">Upload PDF</button>
                                    <!--<span style="color: rgb(0, 110, 255); font-weight: 700;font-size: smaller;">Save to load file</span> -->
                                    <input type="file" name="cred" />
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Price/Hour</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.price_hour}}"placeholder="5" name="price_hour">
                                    
                                </div>
                            </div>
                            
                        </fieldset>

                        <fieldset class="fieldset">
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label"style="color:  #00D363;">Video Introduce</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{guide.videolink}}"placeholder="https://www.youtube.com/embed/jgE3W8PSj2g" name="videolink">
                                </div>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <center><iframe class="embed-responsive-item" align="center" width="560" height="315" src="{{guide.videolink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </center>
                            </div>
                            
                        </fieldset>
                        
                        
                        <hr>
                        
                        <fieldset class="fieldset" align="center" style="align-items: center;">
                            <div class="button-group-area mt-40" >
                                <input  class="genric-btn info circle" type="submit" value="Save Profile" name="save">
                            </div>
                        </fieldset>
                        <input type="hidden" name="virtual_get_id" value="{{guide.id}}">
                        
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endif %}


<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>