<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/index3/css/style.css">
    <style></style>


	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>

    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>My Profile</h3>
                    </div>
                    <div class="job_content" >
                        <br>
                        <input style="color: yellow;" type="text" class="boxed-btn3" value="" placeholder="Enter your profile ID">
                        <a class="boxed-btn3" href="#">NEW</a>
                        <a class="boxed-btn3" href="#">EDIT</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../static/image/guide_profile.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Rebecca Sanders
                                <label class="label label-info">UX Designer</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                            
                        </ul>
                        
                    </div>
                    
            		<nav class="side-menu">
        				<ul class="nav">
                            <li ><a href="build_profile"><span class="fa fa-user"></span>CV</a></li>
                            <li class="active"><a href="video_profile"><span class="fa fa-th"></span>Video</a></li>
                            <li><a href="time_profile"><span class="fa fa-clock-o"></span>Week</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span>Free</a></li>
                            <!--
        					<li><a href="#"><span class="fa fa-cog"></span> Preview</a></li>
        					<li><a href="#"><span class="fa fa-credit-card"></span> Who can access</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Private Contact</a></li>
                            --> 
        					
        				</ul>
        			</nav>
                </div>
                

                    
                <div class="content-panel">
                    
                   
                    <form class="form-horizontal">
                        
                        <fieldset class="fieldset">
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Video</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value=""placeholder="https://www.youtube.com/embed/jgE3W8PSj2g">
                                </div>
                            </div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <center><iframe class="embed-responsive-item" align="center" width="560" height="315" src="https://www.youtube.com/embed/jgE3W8PSj2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </center>
                            </div>
                            
                        </fieldset>
                        <hr>
                        <fieldset class="fieldset" align="center" style="align-items: center;">
                            <div class="button-group-area mt-40" >
                                <input  class="genric-btn info circle" type="submit" value="Update Profile">
                            </div>
                        </fieldset>
                    </form>
                </div>
                
                

            </div>
        </section>
    </div>
</div>



<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>